.price {
  margin-bottom: 43px;
}

.price__wrapper-bg {
  position: relative;
  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    .paste-image(0px 0px; url("../img/bg-triangle-white.svg"); 100% 33px;);
  }
}

.price__inner {
  padding-top: 90px;
  padding-bottom: 47px;
  overflow: hidden;
}

.price__input {
  display: none;
}

#price-1:checked ~ .price__controls label:first-child,
#price-2:checked ~ .price__controls label:nth-child(2),
#price-3:checked ~ .price__controls label:nth-child(3) {
  background-color: #ffffff;
  border-color: #283645;
}

#price-1:checked ~ .price__controls label:first-child:hover,
#price-2:checked ~ .price__controls label:nth-child(2):hover,
#price-3:checked ~ .price__controls label:nth-child(3):hover {
  background-color: #283645;
  border-color: #ffffff;
  opacity: 0.6;
}

#price-2:checked ~ .price__table {
  transform: translateX(-33.33%);
}

#price-3:checked ~ .price__table {
  transform: translateX(-66.66%);
}

.price__table {
  margin-bottom: 39px;
  width: 300%;
  border-collapse: collapse;
  transition: 0.5s;
}

.price__cell {
  position: relative;
  padding: 14px 23px 16px;
  width: 280px;
  min-height: 61px;
  background-color: #ffffff;
  .set-font(400; 14px; 30px; #283645);
  border: 1px solid #e5e5e5;
  text-transform: uppercase;

  &--empty {
    display: none;
  }

  &--title {
    text-align: center;
    padding: 16px 0 18px;
    background-color: #283645;
    .set-font(700; 18px; 30px; #ffffff);
  }

  &--hit {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 74px;
      height: 73px;
      .paste-image(-339px 0px;);
    }

    &::after {
      content: "Хит";
      position: absolute;
      top: 12px;
      left: 8px;
      .set-font(700; 14px; 30px; #ffffff);
      transform: rotate(-45deg);
    }
  }

  &--item {
    display: none;
  }

  &--yes,
  &--no {
    &::before {
      content: "";
      position: absolute;
    }
  }

  &--yes {
    &::before {
      top: 29%;
      right: 6%;
      width: 31px;
      height: 21px;
      .paste-image(0px -58px;);
    }
  }

  &--no {
    &::before {
      top: 23%;
      right: 7.2%;
      width: 27px;
      height: 26px;
      .paste-image(0px -80px;);
    }
  }
}

.price__wrapper {
  display: inline-block;
  margin-top: 2px;
  font-weight: 300;
  font-size: 24px;
}

.price__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price__label {
  margin: 0 6.5px;
  width: 12px;
  height: 12px;
  background-color: #283645;
  border: 3px solid #ffffff;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: @tablet-width) {
  .price {
    margin-bottom: 46px;
  }

  .price__wrapper-bg {
    &::before {
      height: 50px;
      background-size: 100% 50px;
    }
  }

  .price__inner {
    padding-top: 86px;
    padding-bottom: 67px;
  }

  #price-2:checked ~ .price__table,
  #price-3:checked ~ .price__table {
    transform: none;
  }

  .price__table,
  .price__row,
  .price__cell {
    display: flex;
  }

  .price__table,
  .price__cell {
    flex-direction: column;
  }

  .price__table {
    margin-bottom: 0;
    width: 100%;
  }

  .price__cell {
    flex-grow: 1;
    padding: 5px 15px 10px;
    width: 155px;
    min-height: 47px;
    font-size: 0;

    &--empty {
      display: flex;
      background-color: #f2f2f2;
      border: none;
    }

    &--title {
      padding: 12px 0 10px;;
      min-height: 81px;
      font-size: 16px;
    }

    &--hit {
      &::before {
        width: 61px;
        height: 61px;
        .paste-image(-414px 0px;);
      }

      &::after {
        top: 4px;
        left: 5px;
      }
    }

    &--item {
      font-size: 14px;
      text-transform: none;
    }

    &--yes {
      &::before {
        top: 22%;
        right: 39%;
      }
    }

    &--no {
      &::before {
        top: 17%;
        right: 40.5%;
      }
    }
  }

  .price__wrapper {
    margin-top: -3px;
    font-size: 18px;
  }

  .price__controls {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price {
    margin-bottom: 64px;
  }

  .price__wrapper-bg {
    &::before {
      height: 65px;
      background-size: 100% 65px;
    }
  }

  .price__inner {
    padding-top: 139px;
    padding-bottom: 94px;
  }

  .price__cell {
    min-height: 61px;

    &--title {
      padding: 16px 0 20px;
      font-size: 18px;
    }

    &--hit {
      &::before {
        width: 74px;
        height: 73px;
        .paste-image(-339px 0px;);
      }

      &::after {
        top: 12px;
        left: 8px;
      }
    }

    &--item {
      padding: 12px 21px 17px;
      font-size: 18px;
    }

    &--yes{
      &::before {
        top: 33%;
        right: 43%;
      }
    }

    &--no {
      &::before {
        top: 25%;
        right: 44%;
      }
    }
  }

  .price__wrapper {
    margin-top: 2px;
    font-size: 24px;
  }
}
